* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 182, 247);
}

.container {
    /* border: 2px solid red; */
    height: 30vh;
    width: 500px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 2px grey;
    border-radius: 5px;
}

.stopwatch-display {
    /* border: 2px solid blue; */
    height: 8vh;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.display {
    font-size: 45px;
}

.btn-container {
    width: 350px;
    /* border: 2px solid yellow; */
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.start {
    font-size: 18px;
    padding: 5px 20px;
    background-color: greenyellow;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 2px grey;
    cursor: pointer;
}

.stop {
    font-size: 18px;
    padding: 5px 20px;
    background-color: rgb(253, 108, 56);
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 2px grey;
    cursor: pointer;
}

.reset {
    font-size: 18px;
    padding: 5px 20px;
    background-color: rgb(126, 126, 248);
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 2px grey;
    cursor: pointer;
}